@font-face {
  font-family: 'Lato', 'sans-serif';
  font-style: normal;
  font-weight: 400;
}

p {
  font-family: 'Lato', 'sans-serif';
  font-size:
  text-align: center;
}

footer {
  font-family: 'Lato', 'sans-serif';
  position: absolute;
  top: 2750px;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
}

html, body {
  margin: 0;
  display: block;
  height: 100%;
  width: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a {
  color: white;
  text-decoration: none;
}

.header {
  font-family: 'Lato', 'sans-serif';
  font-size: 60px;
  position: absolute;
  left: 75px;
  top: 350px;
  color: #FFFFFF;
}

.navbar {
  font-family: 'Lato', 'sans-serif';
  position: absolute;
  font-size: 40px;
  top: 30px;
  left: 1600px;
  padding: none;
  margin: none;
  color: #FFFFFF;
}

.button {
  font-family: 'Lato', 'sans-serif';
  font-weight: 700;
  background-color: #61531b;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.3s;
  outline: none;
  border-color: #61531b;
  text-decoration: none;
}

.button:hover {
  transform: scale(1.15) perspective(1000px);
}

.featureImageRight {
  position: absolute;
  left: 68%;
}

.featureImageLeft {
  position: absolute;
  left: 20%;
}

.featureRight {
  font-family: 'Lato', 'sans-serif';
  position: absolute;
  left: 62%;
}

.featureLeft {
  font-family: 'Lato', 'sans-serif';
  position: absolute;
  left: 15%;
}

.featureHeader {
  font-family: 'Lato', 'sans-serif';
  color: #FFFFFF;
  font-size: 50px;
  text-align: center;
  width: 500px;
}

.featureCaption {
  font-family: 'Lato', 'sans-serif';
  color: #c4c4c4;
  font-size: 30px;
  text-align: center;
  width: 500px;
}

#footer2 {
  position: absolute;
  bottom: 10px;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    background: #000000 url('./images/homeLogoTransparent.gif') no-repeat center center;
}

#loadingGif {
  position: absolute;
  top: 200px;
  left: 37%;
}

#homeLogo {
  position: absolute;
  margin: auto;
  top: 30px;
  width: 20%;
  left: 785px;
  size: 300px;
}

#homeLogo2 {
  width: 100px;
  height: 100px;
  position: absolute;
  margin: auto;
  top: 15px;
  left: 15px;
}

#joinButton {
  font-size: 48px;
  position: absolute;
  left: 70%;
  top: 550px;
  padding: 20px 60px;
  border-radius: 20px;
}

#joinButton2 {
  font-size: 40px;
  border-radius: 16.6667px;
  margin-left: 50px;
  width: 130px;
  height: 65px;
}

#introBlurb {
  font-family: 'Lato', 'sans-serif';
  font-size: 40px;
  color: #c4c4c4;
  position: absolute;
  top: 700px;
  left: 75px;
  font-size:
}

#rulesHeader {
  font-family: 'Lato', 'sans-serif';
  font-size: 48px;
  color: #FFFFFF;
  top: 200px;
  text-align: center;
}

#rulesList {
  font-family: 'Lato', 'sans-serif';
  font-size: 40px;
  color: #c4c4c4;
  position: absolute;
  text-align: center;
  top: 200px;
  left: 16%;
}


#featureImage1 {
  position: absolute;
  top: 1000px;

}

#feature1Header {
  position: absolute;
  top: 1300px;
}

#feature1 {
  position: absolute;
  top: 1375px;
}


#featureImage2 {
  position: absolute;
  top: 1000px;
}

#feature2Header {
  position: absolute;
  top: 1300px;
}

#feature2 {
  position: absolute;
  top: 1375px;
}


#featureImage3 {
  position: absolute;
  left: -75px;
  top: 1550px;
}

#feature3Header {
  position: absolute;
  top: 1900px;
}

#feature3 {
  position: absolute;
  top: 1975px;
}


#featureImage4 {
  position: absolute;
  top: 1600px;
}

#feature4Header {
  position: absolute;
  top: 1900px;
}

#feature4 {
  position: absolute;
  top: 1975px;
}


#featureImage5 {
  position: absolute;
  top: 2200px;

}

#feature5Header {
  position: absolute;
  top: 2500px;
}

#feature5 {
  position: absolute;
  top: 2575px;
}


#featureImage6 {
  position: absolute;
  top: 2200px;

}

#feature6Header {
  position: absolute;
  top: 2500px;
}

#feature6 {
  position: absolute;
  top: 2575px;
}
